{% extends 'admin/admin_template.html' %}
{% block navbar %}Dashboard{% endblock %}
{% block content %}

    <section class="ftco-section ftco-cart">
        <div class="container">
            <div class="row">
                <div class="col-md-12 ftco-animate">
                    <div class="cart-list">
                        <table class="table">
                            <thead class="thead-primary">
                            <tr class="text-center">
                                <th>#</th>
                                <th>Name</th>
                                <th>Address</th>
                                <th>Phone Number</th>
                                <th>Gender</th>
                                <th>Birthday</th>
                                <th>Email</th>
                                <th>Created</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% if customer_list %}
                                {% for customer in customer_list %}
                                    <tr class="text-center">
                                        <form action="/mark_complete" method="post">
                                            <td class="total">
                                                <h6>{{ customer.get_user_id() }}</h6>
{#                                                <input type="text" name="_order_id" value="{{ order.get_order_id() }}"#}
{#                                                       hidden>#}
                                            </td>

                                            <td class="product-name">
                                                <h6>{{ customer.get_user_name() }}</h6>
                                            </td>

                                            <td class="product-name">
                                                    <h6>{{ customer.get_full_address() }}</h6>
                                            </td>

                                            <td class="product-name">
                                                <h6>{{ customer.get_user_phone_number() }}</h6>
                                            </td>

                                            <td class="product-name">
                                                <h6>{{ customer.get_user_gender()}}</h6>
                                            </td>

                                            <td class="product-name">
                                                <h6>{{ customer.get_user_birthday() }}</h6>
                                            </td>

                                            <td class="product-name">
                                                <h6>{{ customer.get_user_email_address() }}</h6>
                                            </td>

{#                                            <td class="product-name">#}
{#                                                <select class="dropdown-toggle" name="_order_status"#}
{#                                                        data-toggle="dropdown" aria-haspopup="true"#}
{#                                                        onchange="this.form.submit()">#}
{#                                                    <option selected disabled hidden#}
{#                                                            value="current">{{ order.get_status() }}</option>#}
{#                                                    <option value="pending">Pending</option>#}
{#                                                    <option value="cancel">Cancel</option>#}
{#                                                    <option value="complete">Complete</option>#}
{#                                                </select>#}
{#                                                <input type="text" name="_current_status"#}
{#                                                       value="{{ order.get_status() }}"#}
{#                                                       hidden>#}
{#                                            </td>#}
                                        </form>
                                    </tr><!-- END TR-->
                                {% endfor %}
                            {% endif %}
                            </tbody><!-- END TBODY-->
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock %}