{% extends 'admin/admin_template.html' %}
{% block navbar %}Dashboard{% endblock %}
{% block content %}

    <section class="ftco-section ftco-cart">
        <div class="container">
            <div class="row">
                <div class="col-md-12 ftco-animate">
                    <div class="cart-list">
                        <table class="table">
                            <thead class="thead-primary">
                            <tr class="text-center">
                                <th>#</th>
                                <th>Name</th>
                                <th>Order Details</th>
                                <th>Delivery Address</th>
                                <th>Order Placed on</th>
                                <th>Amount(ZK)</th>
                                <th>Status</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% if orders_list %}
                                {% for order in orders_list %}
                                    <tr class="text-center">
                                        <form action="/mark_complete" method="post">

                                            <td class="total">
                                                <h6>{{ order.get_order_id() }}</h6>
                                                <input type="text" name="_order_id" value="{{ order.get_order_id() }}"
                                                       hidden>
                                            </td>

                                            <td class="total">
                                                <h6>{{ order.get_customer_id() }}</h6>
                                            </td>

                                            <td class="product-name">
                                                {% set _order = order.get_contents().splitlines() %}
                                                {% for i in _order %}
                                                    <h6>{{ i }}</h6>
                                                {% endfor %}
                                            </td>

                                            <td class="product-name">
                                                <h6>{{ order.get_delivery_address() }}</h6>
                                            </td>

                                            <td class="product-name">
                                                <h6>{{ order.get_date_created() }}</h6>
                                            </td>

                                            <td class="product-name">
                                                <h6>{{ "%.2f"|format(order.get_total_price()) }}</h6>
                                            </td>

                                            <td class="product-name">
                                                <select class="dropdown-toggle" name="_order_status"
                                                        data-toggle="dropdown" aria-haspopup="true"
                                                        onchange="this.form.submit()">
                                                    <option selected disabled hidden
                                                            value="current">{{ order.get_status() }}</option>
                                                    <option value="pending">Pending</option>
                                                    <option value="cancel">Cancel</option>
                                                    <option value="complete">Complete</option>
                                                </select>
                                                <input type="text" name="_current_status" value="{{ order.get_status() }}"
                                                       hidden>
                                            </td>
                                        </form>
                                    </tr><!-- END TR-->
                                {% endfor %}
                            {% endif %}
                            </tbody><!-- END TBODY-->
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock %}

