{% extends 'admin/admin_template.html' %}
{% block navbar %}Admin Login{% endblock %}
{% block content %}


    <section class="ftco-section">
        {% block main %}

            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-xl-7 ftco-animate">
                        <h3 class="mb-4 billing-heading">Admin</h3>
                        <form action="{{ url_for('admins.admin') }}" method="post" class="billing-form">
                            {% with messages = get_flashed_messages(with_categories=true) %}
                                {% if messages %}
                                    {% for category, message in messages %}
                                        <p class="{{ category }}">{{ message }}</p>
                                    {% endfor %}
                                {% endif %}
                            {% endwith %}
                            <div class="row align-items-end">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label for="user-name">Username</label>
                                        <input type="text" name="user-name" class="form-control"
                                               required>
                                    </div>
                                </div>

                                <div class="w-100"></div>

                                <div class="w-100"></div>
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label for="enter-password">Password</label>
                                        <input type="password" name="enter-password" class="form-control" required>
                                    </div>
                                </div>
                                <div class="w-100"></div>
                            </div>
                            <div>
                                <button type="submit" class="col-md-12 btn btn-primary py-3 px-4">Sign In</button>
                            </div>

                        </form><!-- END -->
                        <div class="w-100"></div>
                        <br>
                        <div>
                            <button type="submit" class="col-md-12 btn btn-outline-secondary py-3 px-4">Reset Password
                            </button>
                        </div>

                    </div>
                </div>
            </div>

        {% endblock %}
    </section>

{% endblock %}