{% extends 'admin/admin_template.html' %}
{% block navbar %}Edit Product{% endblock %}
{% block content %}

    <section class="ftco-section">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-xl-7 ftco-animate">
                    {% if product %}
                        <form action="{{ url_for('.edit_product', product_id = product.id) }}" method="post"
                              class="billing-form"
                              enctype="multipart/form-data">
                            {% with messages = get_flashed_messages(with_categories=true) %}
                                {% if messages %}
                                    {% for category, message in messages %}
                                        <p class="{{ category }}">{{ message }}</p>
                                    {% endfor %}
                                {% endif %}
                            {% endwith %}
                            <h3 class="mb-4 billing-heading">Edit Product</h3>
                            <div class="row align-items-end">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label for="full-name">Display Name</label>
                                        <input type="text" class="form-control" name="product-name"
                                               placeholder="{{ product.name }}" required>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label for="home-address">Description</label>
                                        <input type="text" class="form-control" name="product-description"
                                               placeholder="{{ product.description }}">
                                    </div>
                                </div>
                                <div class="w-100"></div>

                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label for="town-city">Cost Price (Buying Price)</label>
                                        <input type="text" class="form-control" name="cost-price"
                                               placeholder="{{ "%.2f"|format(product.cost_price) }}" required>
                                    </div>
                                </div>
                                <div class="w-100"></div>
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label for="town-city">Sell Price (Price displayed to Customer)</label>
                                        <input type="text" class="form-control" name="sell-price"
                                               placeholder=placeholder="{{ "%.2f"|format(product.sell_price) }}"
                                               required>
                                    </div>
                                </div>
                                <div class="w-100"></div>
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label for="type">Product Type</label>
                                        <div class="select-wrap">
                                            <div class="icon"><span class="ion-ios-arrow-down"></span></div>
                                            <select name="product-type" class="form-control">
                                                <option value="box" {% if product.is_box == 'box' %}
                                                        selected="selected"{% endif %}>
                                                    Box
                                                </option>
                                                <option value="extra" {% if product.is_box == 'extra' %}
                                                        selected="selected"{% endif %}>
                                                    Extra
                                                </option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="w-100"></div>
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label for="display-image">Upload Display Image</label><br>
                                        <input type="file" name="display-image" class="form-control-file col-md-6"
                                               required>
                                    </div>
                                </div>
                                <div class="w-100"></div>
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label for="display">Show to customers?</label><br>
                                        <input type="radio" name="display" value="yes"
                                                {% if product.is_displayed == 'yes' %} checked="checked"{% endif %}>Yes
                                        <input type="radio" name="display" value="no"
                                                {% if product.is_displayed == 'no' %} checked="checked"{% endif %}>No
                                    </div>
                                </div>
                            </div>
                            <div>
                                <button type="submit" class="col-md-12 btn btn-primary py-3 px-4">Update Product
                                </button>
                            </div>
                        </form><!-- END -->
                    {% endif %}
                </div>
            </div>
        </div>
    </section> <!-- .section -->

{% endblock %}