{% extends 'admin/admin_template.html' %}
{% block navbar %}Dashboard{% endblock %}
{% block content %}

    <section class="ftco-section ftco-cart">
        <div class="container">
            <div class="row">
                <div class="col-md-12 ftco-animate">
                    <div class="cart-list">
                        <div class="row">
                            <div class="col-md-2">
                                <form action="{{ url_for('admin_view', view='customers') }}">
                                    <select class="dropdown-toggle" name="_manage_users"
                                            data-toggle="dropdown" aria-haspopup="true"
                                            onchange="this.form.submit()">
                                        <option selected disabled value="current">Admin Users</option>
                                        <option value="customers">Customers</option>
                                    </select>
                                </form>
                            </div>
                            <div>
                                <a type="submit" class="btn btn-primary" href="{{ url_for('add_admin_user') }}">Add
                                    Admin +</a>
                            </div>
                        </div>

                        <table class="table">
                            <thead class="thead-primary">
                            <tr class="text-center">
                                <th>#</th>
                                <th>Name</th>
                                <th>Username</th>
                                <th>Email</th>
                                <th>Phone Number</th>
                                <th>Created</th>
                                <th></th>
                            </tr>
                            </thead>
                            <tbody>
                            {% if admin_list %}
                                {% for admin in admin_list.items %}
                                    <tr class="text-center">
                                        <form action="/mark_complete" method="post">
                                            <td class="total">
                                                <h6>{{ admin.id }}</h6>
                                            </td>

                                            <td class="product-name">
                                                <h6>{{ admin.name }}</h6>
                                            </td>

                                            <td class="product-name">
                                                <h6>{{ admin.username }}</h6>
                                            </td>

                                            <td class="product-name">
                                                <h6>{{ admin.email_address }}</h6>
                                            </td>

                                            <td class="product-name">
                                                <h6>{{ admin.cellphone_number }}</h6>
                                            </td>

                                            <td class="product-name">
                                                <h6>{{ admin.date_created.strftime("%Y-%m-%d %H:%M:%S") }}</h6>
                                            </td>

                                            {#                                            <td class="product-name">#}
                                            {#                                                <select class="dropdown-toggle" name="_order_status"#}
                                            {#                                                        data-toggle="dropdown" aria-haspopup="true"#}
                                            {#                                                        onchange="this.form.submit()">#}
                                            {#                                                    <option selected disabled hidden#}
                                            {#                                                            value="current">{{ order.get_status() }}</option>#}
                                            {#                                                    <option value="pending">Pending</option>#}
                                            {#                                                    <option value="cancel">Cancel</option>#}
                                            {#                                                    <option value="complete">Complete</option>#}
                                            {#                                                </select>#}
                                            {#                                                <input type="text" name="_current_status"#}
                                            {#                                                       value="{{ order.get_status() }}"#}
                                            {#                                                       hidden>#}
                                            {#                                            </td>#}
                                        </form>
                                    </tr><!-- END TR-->
                                {% endfor %}
                            {% endif %}
                            </tbody><!-- END TBODY-->
                        </table>

                        <div class="row mt-5">
                            <div class="col text-center">
                                <div class="block-27">
                                    <ul>
                                        <li><a href="#">&lt;</a></li>
                                        {% for page_num in admin_list.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
                                            {% if page_num %}
                                                {% if admin_list.page == page_num %}
                                                    <li class="active"
                                                        href="{{ url_for('admin_view', view='admin_users', page=page_num) }}">
                                                        <span>{{ page_num }}</span></li>
                                                {% else %}
                                                    <li>
                                                        <a href="{{ url_for('admin_view', view='admin_users', page=page_num) }}">{{ page_num }}</a>
                                                    </li>
                                                {% endif %}
                                            {% else %}
                                                <li>
                                                    <a href="{{ url_for('admin_view', view='admin_users', page=right_edge) }}">...</a>
                                                </li>

                                            {% endif %}
                                        {% endfor %}
                                        <li><a href="#">&gt;</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>


                    </div>
                </div>
            </div>
        </div>
    </section>


{% endblock %}