{% extends 'admin/admin_template.html' %}
{% block navbar %}Dashboard{% endblock %}
{% block content %}

    <section class="ftco-section ftco-cart">
        <div class="container">
            <div class="row">
                <div class="col-md-12 ftco-animate">
                    <div class="cart-list">
                        {% with messages = get_flashed_messages(with_categories=true) %}
                            {% if messages %}
                                {% for category, message in messages %}
                                    <p class="{{ category }}">{{ message }}</p>
                                {% endfor %}
                            {% endif %}
                        {% endwith %}

                        <div>
                            <form action="{{ url_for('admin_view', view='customer_messages') }}">
                                <select class="dropdown-toggle" name="_manage_users"
                                        data-toggle="dropdown" aria-haspopup="true"
                                        onchange="this.form.submit()">
                                    <option selected disabled value="current">Open</option>
                                    <option value="closed">Closed</option>
                                </select>
                            </form>
                        </div>
                        <table class="table">
                            <thead class="thead-primary">
                            <tr class="text-center">
                                <th>#</th>
                                <th>Messenger</th>
                                <th>Cell#</th>
                                <th>Email</th>
                                <th>Subject</th>
                                <th>Message</th>
                                <th>Sent</th>
                                <th>Status</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% if messages_list %}
                                {% for msg in messages_list.items %}
                                    <tr class="text-center">
                                        <form action="/mark_complete" method="post">
                                            <td class="total">
                                                <h6>{{ msg.id }}</h6>
                                            </td>

                                            <td class="categories">
                                                <h6>{{ msg.name }}</h6>
                                            </td>

                                            <td class="categories">
                                                <h6>{{ msg.phone_number }}</h6>
                                            </td>

                                            <td class="categories">
                                                <h6>{{ msg.email_address }}</h6>
                                            </td>

                                            <td class="name">
                                                <h6>{{ msg.subject }}</h6>
                                            </td>

                                            <td class="product-name">
                                                <h6>{{ msg.message }}</h6>
                                            </td>

                                            <td class="name">
                                                <h6>{{ msg.date_sent.strftime("%Y-%m-%d %H:%M:%S") }}</h6>
                                            </td>

                                            <td class="categories">
                                                <h6>{{ msg.status }}</h6>
                                                {% if  msg.date_updated%}
                                                    <h6>{{ msg.date_updated }}</h6>
                                                {% endif %}
                                            </td>
                                        </form>
                                    </tr><!-- END TR-->
                                {% endfor %}
                            {% endif %}
                            </tbody><!-- END TBODY-->
                        </table>
                        <div class="row mt-5">
                            <div class="col text-center">
                                <div class="block-27">
                                    <ul>
                                        <li><a href="#">&lt;</a></li>
                                        {% for page_num in messages_list.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
                                            {% if page_num %}
                                                {% if messages_list.page == page_num %}
                                                    <li class="active"
                                                        href="{{ url_for('admin_view', view='customer_messages', page=page_num) }}">
                                                        <span>{{ page_num }}</span></li>
                                                {% else %}
                                                    <li>
                                                        <a href="{{ url_for('admin_view', view='customer_messages', page=page_num) }}">{{ page_num }}</a>
                                                    </li>
                                                {% endif %}
                                            {% else %}
                                                <li>
                                                    <a href="{{ url_for('admin_view', view='customer_messages', page=right_edge) }}">...</a>
                                                </li>

                                            {% endif %}
                                        {% endfor %}
                                        <li><a href="#">&gt;</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock %}