{% extends 'base_template.html' %}
{% block content %}


    <section class="ftco-section">
        {% block main %}

            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-xl-7 ftco-animate">
                        {% if feedback %}
                            <p class="alert-info float-xl-none">{{ feedback }}</p>
                        {% endif %}
                        <form action="/login" method="post" class="billing-form">
                            <h3 class="mb-4 billing-heading">Login!</h3>
                            <div class="row align-items-end">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label for="phone-number">Phone Number</label>
                                        <input type="text" name="phone-number" class="form-control" placeholder="+260"
                                               required>
                                    </div>
                                </div>

                                <div class="w-100"></div>

                                <div class="w-100"></div>
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label for="enter-password">Enter Password</label>
                                        <input type="password" name="enter-password" class="form-control"
                                               placeholder="Password" required>
                                    </div>
                                </div>
                                <div class="w-100"></div>
                            </div>
                            <div>
                                <button type="submit" class="col-md-12 btn btn-primary py-3 px-4">Sign In</button>
                            </div>
                        </form><!-- END -->
                    </div>
                </div>
            </div>

        {% endblock %}
    </section>

{% endblock %}