{% extends 'base_template.html' %}
{% block title %} FreshPicks - Account {% endblock %}
{% block navbar %} Account {% endblock %}
{% block content %}

    <section class="ftco-section">
        {% block main %}

            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-xl-7 ftco-animate">
                        <form action="/account" method="post" class="billing-form">
                            {% with messages = get_flashed_messages(with_categories=true) %}
                                {% if messages %}
                                    {% for category, message in messages %}
                                        <p class="{{ category }}">{{ message }}</p>
                                    {% endfor %}
                                {% endif %}
                            {% endwith %}
                            <h3 class="mb-4 billing-heading">My profile</h3>
                            <div class="row align-items-end">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label for="full-name">Full Name</label>
                                        <input type="text" class="form-control" name="full-name"
                                               value="{{ current_user.fullname }}" required>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label for="home-address">Home Address</label>
                                        <input type="text" class="form-control" name="home-address"
                                               value="{{ current_user.address }}" required>
                                    </div>
                                </div>
                                <div class="w-100"></div>
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label for="town-city">Town / City</label>
                                        <input type="text" class="form-control" name="town-city"
                                               value="{{ current_user.town }}" required>
                                    </div>
                                </div>
                                <div class="w-100"></div>
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label for="state-country">State / Country</label>
                                        <div class="select-wrap">
                                            <div class="icon"><span class="ion-ios-arrow-down"></span></div>
                                            <select name="state-country" class="form-control">
                                                <option value="zambia">Zambia</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="w-100"></div>

                                <div class="w-100"></div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="phone-number">Phone Number</label>
                                        <input type="number" class="form-control" name="phone-number"
                                               value="{{ current_user.phone_number }}" required>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="email-address">Email Address</label>
                                        <input type="text" class="form-control" name="email-address"
                                                {% if current_user.user_email %}
                                               value="{{ current_user.user_email }}"
                                                {% else %}
                                               placeholder="No Email Specified"
                                                {% endif %}>
                                    </div>
                                </div>

                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label for="gender">Gender (Sex)</label>
                                        <div class="select-wrap">
                                            <div class="icon"><span class="ion-ios-arrow-down"></span></div>
                                            <select name="gender" class="form-control">
                                                <option value="male" selected>Male</option>
                                                <option value="female"
                                                        {% if current_user.gender.lower() == "female" %}
                                                        selected {% endif %}>Female
                                                </option>
                                            </select>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label for="dob">Date of Birth</label>
                                        <input type="date" class="form-control" name="dob" data-date-format="DD/MM/YYYY"
                                               value="{{ current_user.dob }}" required>
                                    </div>
                                </div>

                                <div class="w-100"></div>
                            </div>
                            <div>
                                <button type="submit" class="col-md-12 btn btn-primary py-3 px-4">Update Details
                                </button>
                            </div>
                        </form><!-- END -->
                    </div>


                    <div class="col-xl-5">
                        <div class="row mt-5 pt-3">
                            <div class="col-md-12 d-flex mb-5">
                                <div class="cart-detail cart-total p-3 p-md-4">
                                    <h3 class="billing-heading mb-4">Order History</h3>
                                    <p class="d-flex">
                                        <span>Subtotal</span>
                                        <span>$20.60</span>
                                    </p>
                                    <p class="d-flex">
                                        <span>Delivery</span>
                                        <span>$0.00</span>
                                    </p>
                                    <p class="d-flex">
                                        <span>Discount</span>
                                        <span>$3.00</span>
                                    </p>
                                    <hr>
                                    <p class="d-flex total-price">
                                        <span>Total</span>
                                        <span>$17.60</span>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div> <!-- .col-md-8 -->


                </div>
            </div>

        {% endblock %}
    </section> <!-- .section -->

{% endblock %}