{% extends 'base_template.html' %}
{% block title %} FreshPicks - Password Reset {% endblock %}
{% block navbar %} Password Reset {% endblock %}
{% block content %}

    <section class="ftco-section">
        {% block main %}

            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-xl-7 ftco-animate">
                        {% with messages = get_flashed_messages(with_categories=true) %}
                            {% if messages %}
                                {% for category, message in messages %}
                                    <p class="{{ category }}">{{ message }}</p>
                                {% endfor %}
                            {% endif %}
                        {% endwith %}
                        <form action="/reset_password" method="post" class="billing-form">
                            <h3 class="mb-4 billing-heading icon-lock mb-0"> Password Reset</h3>
                            <div class="row align-items-end">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label for="phone-number">Phone Number</label>
                                        <input type="text" name="phone-number" class="form-control" required>
                                    </div>
                                </div>

                                <div class="w-100"></div>
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label for="new-password">Enter New Password</label>
                                        <input type="password" name="new-password" class="form-control" required>
                                    </div>
                                </div>
                                <div class="w-100"></div>
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label for="confirm-password">Confirm New Password</label>
                                        <input type="password" name="confirm-password" class="form-control" required>
                                    </div>
                                </div>
                            </div>
                            <div>
                                <button type="submit" class="col-md-12 btn btn-primary py-3 px-4">Reset Password</button>
                            </div>
                        </form><!-- END -->
                    </div>
                </div>
            </div>

        {% endblock %}
    </section>

{% endblock %}